
@{
    ViewData["Title"] = "Settings";
}

<div class="user-box">
    <div class="container">
        <div class="row">
            <div class="col-6">
                <img class="img-fluid p-3 m-4" src="./profile2.jpg" style="height:300px; border-radius: 100%; border: 2px solid chartreuse" />
            </div>
            <div class="col-6">
                <h4 class="mt-5 mb-5">Impostazioni iTracker</h4>
                <h6 style="color:chartreuse; font-weight: bold;">PROFILO</h6>
                <p class="m-0 p-0" style="color:grey; font-size: 18px;">Cristian Fasano</p>
                <p class="m-0 p-0" style="color:grey; font-size: 18px;">20/05/2000</p>
                <p class="m-0 p-0" style="color:grey; font-size: 18px;">fasanoc1an@gmail.com</p>
            </div>
        </div>
    </div>
</div>

